.image-card {
    position: relative;
    overflow: hidden;
}

.image-card img {
    width: 50%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(82, 81, 81, 0.7);
    overflow: hidden;
    width: 50%;
    height: 0;
    transition: .5s ease;
}

.image-card:hover .overlay {
    height: 100%;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}
